
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<div class="list-group">

    <a href="~/Posts/List" class="list-group-item list-group-item-action">Manage posts</a>
    <a href="~/Posts/Create" class="list-group-item list-group-item-action">Add new post</a>
    <a href="~/Categories" class="list-group-item list-group-item-action">Manage categories</a>
    <a href="~/Categories/Create" class="list-group-item list-group-item-action">Add new category</a>

</div>